@charset "UTF-8";
/* CSS Document */

header{
	background-color: #B8E2E9;
}
nav{
	background-color: #F7ACAD;
}
article{
	background-color: #F7EEAC;
}
footer{
	background-color: #EDB2FD;
}
h1{
	background-color:#7F26FE;
}
p{
	background-color: #FE7F81;
}
div{
	background-color: #A3A3A3;
}
ul{
	background-color: #80A662;
}
ol{
	background-color: #B4FF7F;
}

li{
	background-color: #E4DE0F;
}
small{
	background-color: #5E74FD;
}
body::before{
	content:url(tagcolor.png);
	display: block;
	position:fixed;
	top:100%;
	left:0;
	margin-top: -240px;
	width:200px;
	height: 240px;
	z-index: 99999;
	opacity: 1;
	transition: opacity 1s
}
body:hover::before{
	opacity: 0;
}